In [1]:
# series

In [2]:
import numpy as np
import pandas as pd

In [4]:
x = pd.Series([10, 20, 30, 40, 50])
x

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
x.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
x.dtype

dtype('int64')

In [7]:
x.values

array([10, 20, 30, 40, 50], dtype=int64)

In [25]:
data = [450, 650, 870]
index = [2010, 2011, 2012]
sales = pd.Series(data, index = index)
sales.index.name = "Year"
sales.name = "Total sales per year"
sales

Year
2010    450
2011    650
2012    870
Name: Total sales per year, dtype: int64

In [11]:
sales.index

Index(['Don', 'Mike', 'Edwin'], dtype='object', name='Year')

In [16]:
sales[2010]

450

In [22]:
sales > 500

Year
2010    False
2011     True
2012     True
Name: Total sales per year, dtype: bool

In [23]:
sales[[False, True, True]]
# returns only True

Year
2011    650
2012    870
Name: Total sales per year, dtype: int64

In [24]:
sales[sales > 500] # filters all data

Year
2011    650
2012    870
Name: Total sales per year, dtype: int64

In [26]:
sales[sales > 500].index.values

array([2011, 2012], dtype=int64)

In [27]:
sales[sales> 500].index

Int64Index([2011, 2012], dtype='int64', name='Year')

In [28]:
list(sales[sales> 500].values)

[650, 870]

In [29]:
2011 in sales

True

In [30]:
sales.to_dict()

{2010: 450, 2011: 650, 2012: 870}

In [33]:
sales_dict = {
    "Don": 534, 
    "Mike": 453, 
    "Edwin": 412        
}
sales_ser = pd.Series(sales_dict)
sales_ser

Don      534
Mike     453
Edwin    412
dtype: int64

In [34]:
new_sales = pd.Series(sales_dict, index=['Don', 'Mike', 'Sally', ' Edwin', 'Lucy'])
new_sales

Don       534.0
Mike      453.0
Sally       NaN
 Edwin      NaN
Lucy        NaN
dtype: float64

In [35]:
#NaN (Not, a, Number)

In [36]:
np.isnan(new_sales)

Don       False
Mike      False
Sally      True
 Edwin     True
Lucy       True
dtype: bool

In [37]:
#NaN is different to non

In [38]:
pd.isnull(new_sales)

Don       False
Mike      False
Sally      True
 Edwin     True
Lucy       True
dtype: bool

In [39]:
new_sales

Don       534.0
Mike      453.0
Sally       NaN
 Edwin      NaN
Lucy        NaN
dtype: float64

In [40]:
new_sales.loc['Sally'] = 540

In [42]:
new_sales.name = "Total TV sales"

In [43]:
new_sales

Don       534.0
Mike      453.0
Sally     540.0
 Edwin      NaN
Lucy        NaN
Name: Total TV sales, dtype: float64

# DataFrames
# two - dimensional
# size - mutable
# heterogenous
# rows and collumn

In [44]:
sales_df = pd.DataFrame(new_sales)

In [45]:
sales_df

        Total TV sales
Don              534.0
Mike             453.0
Sally            540.0
 Edwin             NaN
Lucy               NaN

In [47]:
data = [['Adrian', 20], ['Bethany', 23], ['Chloe', 43]]
df = pd.DataFrame(data, columns=["Name", "Age"])
df

      Name  Age
0   Adrian   20
1  Bethany   23
2    Chloe   43

In [49]:
new_dict = {
    'Name': ['Tom', 'Jane', 'Steve', 'Lucy'],
    'Sales': [250, 300, 350, 400]
}
df_dict = pd.DataFrame(new_dict)
df_dict

    Name  Sales
0    Tom    250
1   Jane    300
2  Steve    350
3   Lucy    400

NameError: name 'list_dicts' is not defined